{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
<header class="page-head page-head-articles">
    <h1 class="page-head-title">{{title}}</h1>
    <div class="page-head-description">{{content}}</div>
</header>

<div class="post-content-article-posts post-content-article-with-featured">
    {{#get "posts" filter="tags:photo-journal" order="featured desc, published_at desc"}}
    {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card-article.hbs --}}
        {{> "post-card-article"}}

    {{/foreach}}
    {{/get}}
</div>
{{/post}}


