/*

This is a custom css file which is used to override the
css defined by the theme. Duplicate css will get removed
during build process using cssnano.

*/

body {
    font-family: var(--font-sans-serif);
}

h1 {
    text-transform: uppercase;
    color: var(--color-primary);
}

.post-content-related {
    position: relative;
    width: 75vw;
    margin: 4vw calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
    text-align: center;
}

.post-content-related-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.post-card-related-container {
    box-sizing: border-box;
    height: 300px;
    width: calc(1/3*100% - (1 - 1/3)*var(--margin));
    margin: 0 0 var(--margin) 0;
    align-items: center;
}

.post-card-related {
    position: relative;
    background: linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-card-related .post-card-content {
    transition: all .3s cubic-bezier(.33,0,.2,1);
    background: rgba(0,0,0,0.15);
}

.post-card-related:hover .post-card-content {
    background: rgba(0,0,0,0.2);
}

.post-card-related-link {
    display: block;
    width: 100%;
    height: 100%;
}

.post-card-related-title {
    margin: 0;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    width: 85%;
    transition: all .3s cubic-bezier(.33,0,.2,1);
    height: 30%;
    position: absolute;
    bottom: 20px;
}

.post-card-related:hover .post-card-related-title {
    bottom: 28px;
}

@media (max-width: 1024px) {

    .post-card-related-container {
        width: calc(1/2*100% - (1 - 1/2)*var(--margin));
    }

}

@media (max-width: 850px) {

    .post-content-related {
        width: 100%;
    }

    .post-card-related-container {
        width: 100%;
        margin-right: 0;
        transform: none;
    }

}