/*

This is a custom css file which is used to override the
css defined by the theme. Duplicate css will get removed
during build process using cssnano.

*/

body {
    font-family: var(--font-sans-serif);
}

h1 {
    text-transform: uppercase;
    color: var(--color-primary);
}

.post-content-related {
    position: relative;
    display: table;
    width: 100%;
    width: 75vw;
    margin: 4vw calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.post-content-related-title {
    text-align: center;
}

.post-card-related-container {
    float: left;
    box-sizing: border-box;
    height: 300px;
    width: 33.333333%;
    padding: 0 var(--margin) var(--margin) 0;
    align-items: center;
}

.post-card-related {
    position: relative;
    background: linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-card-related .post-card-content {
    background: rgba(0,0,0,0.15);
}

.post-card-related-title {
    margin: 0;
    display: inline-block;
    font-size: 2.5rem;
    width: 85%;
    transition: all .3s cubic-bezier(.33,0,.2,1);
    height: 30%;
    position: absolute;
    bottom: 20px;
}
