/* Variables
/* ---------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0;1,400;1,700&display=swap');

:root {

    /* Colours */
    --color-primary: #08C672;
    --color-base: #222;
    --color-base-light: #666;
    --color-border: #ddd;
    --color-border-saturated: #bbb;
    --color-bg: #fff;
    --color-gray: #ababab;

    /* Fonts */
    --font-sans-serif: 'Montserrat', sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --small-margin: 1.25rem;
    --radius: 0.5rem;

}
