/*

This is a custom css file which is used to override the
css defined by the theme. Duplicate css will get removed
during build process using cssnano.

*/

html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
	line-height: 1.75rem;
}

h1 {
    font-size: 2.0625rem;
	line-height: 1.65em;
    text-transform: uppercase;
    color: var(--color-primary);
}

h2 {
	font-size: 1.625rem;
	line-height: 1.65em;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

.site-head {
    margin-top: auto;
    font-size: 1rem;
}

.site-foot {
    font-size: 0.8125rem;
}

.site-head-open .site-foot {
    left: 0;
    right: 0;
    padding: 0 6vw 0 6vw;
}

.page-head-articles {
    padding: 7vw 0;
}

.page-head-title, .post-content-title {
	font-size: 2.625rem;
    color: var(--color-primary);
}

.post-content-excerpt {
    font-size: 1.25rem;
}

.post-content-body {
    font-size: 1rem;
    line-height: 1.75em;
}

.post-content-body pre {
    font-size: 1rem;
}

.post-content-body blockquote {
    border-left: var(--color-primary) 3px solid;
}

.post-content-article {
    position: relative;
    width: 75vw;
    margin: 4vw calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
    text-align: center;
}

.post-content-article-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.post-card-article-container {
    box-sizing: border-box;
    height: 300px;
    width: calc(1/3*100% - (1 - 1/3)*var(--margin));
    margin: 0 0 var(--margin) 0;
    align-items: center;
}

.post-card-title, .post-card.no-image .post-card-title {
	font-size: 1.625rem;
}

.post-card-article {
    position: relative;
    background: var(--color-primary) center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-card-article .post-card-content {
    transition: all .3s cubic-bezier(.33,0,.2,1);
    background: rgba(0,0,0,0.15);
}

.post-card-article:hover .post-card-content {
    background: rgba(0,0,0,0.2);
}

.post-card-article-link {
    display: block;
    width: 100%;
    height: 100%;
}

.post-card-article-title {
    margin: 0;
    text-align: center;
    display: inline-block;
    font-size: 1.625rem;
	line-height: 1.5em;
    width: 85%;
    transition: all .3s cubic-bezier(.33,0,.2,1);
    height: 5.3125rem;
    position: absolute;
    bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-card-article:hover .post-card-article-title {
    bottom: 28px;
}

.kg-bookmark-card {
    margin: 4vw 0;
}

.kg-bookmark-content {
    padding: 1.65rem;
}

.kg-bookmark-description, .kg-bookmark-metadata {
    margin-top: var(--small-margin);
}

.kg-bookmark-title {
    font-size: 1.25rem;
}


@media (max-width: 1024px) {

    .post-card-article-container {
        width: calc(1/2*100% - (1 - 1/2)*var(--margin));
    }

}

@media (max-width: 850px) {

    html {
        font-size: 14px;
    }

    .page-head-title, .post-content-title {
        line-height: 1.45em
    }


    .site-head-left a {
        font-size: 1.625rem;
    }

    .site-head-right a {
        font-size: 1.25rem;
    }

    .page-head {
        max-width: 100%;
    }

    .post-content-article {
        width: 100%;
    }

    .post-card-article-container {
        width: 100%;
        margin-right: 0;
        transform: none;
    }

    .post-card.no-image:before {
        font-size: 50vw;
    }

}